@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-userButtonTrigger {
    @apply bg-[#0F0F0F] text-white font-bold py-2 px-4 rounded-lg shadow-md;
}

.cl-userButtonOuterIdentifier {
    @apply text-white font-bold text-sm;
}

.primary-btn-focus:focus {
    -webkit-tap-highlight-color: transparent;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 0px 0px 4px;
    transition-property: background-color, background, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: ease;
    transition-duration: 200ms;
}